:root{
    --Fondo: #dedede;
    --FondoCard: #f0ecec;
    --Azul: #608895;
    --Texto1: #496774;  
    --Texto2: #333;
    --BordeInput: #ccc;
}

body{
    font-family: Inter, system-ui, Arial;
    background: var(--Fondo);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FondoCard);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 40px;
    width: 350px;
}

.login-section img{
    margin-bottom: 20px;
}

.login-section h1{
    color: black;
    margin-bottom: 20px;
}

.login-section label{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: var(--Texto2);
}

.login-section input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--BordeInput);
    border-radius: 5px;
}

.login-section button{
    background: black;
    color: var(--Fondo);
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    transition: background 0.3s;
}


.login-section button:hover{
    background: var(--Fondo);
    color: black;
}

.login-section a{
    margin-top: 15px;
    color: var(--Texto2);
    text-decoration: none;
    font-weight: bold;
}
