<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle Prenda</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h2>Detalle de Prenda</h2>

<p><b>Nombre:</b> <span th:text="${prenda.nombre}"></span></p>
<p><b>Talla:</b> <span th:text="${prenda.talla}"></span></p>
<p><b>Tipo:</b> <span th:text="${prenda.tipoPrenda.nombre}"></span></p>
<p><b>Precio:</b> <span th:text="${prenda.precio}"></span></p>
<p><b>Stock:</b> <span th:text="${prenda.stock}"></span></p>

<a th:href="@{/prendas}">Volver</a>

</body>
</html>
