<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Prenda</title>
    <link rel="stylesheet" th:href="@{../static/styles2.css}">
</head>
<body>

<h2>Editar Prenda</h2>

<form th:action="@{/prendas/actualizar/{id}(id=${prenda.id})}"
      th:object="${prenda}" method="post">

    <label>Nombre:</label>
    <input th:field="*{nombre}"><br>

    <label>Talla:</label>
    <input th:field="*{talla}"><br>

    <label>tipo:</label>
    <input th:field="*{tipoPrenda.nombre}"><br>

    <label>Precio:</label>
    <input th:field="*{precio}" type="number" step="0.01"><br>

    <label>Stock:</label>
    <input th:field="*{stock}" type="number"><br>

    <button type="submit">Actualizar</button>
    <a th:href="@{/prendas}">Cancelar</a>
</form>

</body>
</html>
