<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eliminar Prenda</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<section class="dashboard-content">

    <section class="contenedor-crud">

        <h2 class="subtitulo-gestion">Eliminar Prenda</h2>

        <section class="form-container">

            <p>¿Está seguro que desea eliminar la siguiente prenda?</p>

            <ul>
                <li><b>Nombre:</b> <span th:text="${prenda.nombre}"></span></li>
                <li><b>Talla:</b> <span th:text="${prenda.talla}"></span></li>
                <li><b>Tipo:</b> <span th:text="${prenda.tipoPrenda.nombre}"></span></li>
                <li><b>Precio:</b> <span th:text="${prenda.precio}"></span></li>
                <li><b>Stock:</b> <span th:text="${prenda.stock}"></span></li>
            </ul>

            <form th:action="@{/prendas/eliminar/confirmar/{id}(id=${prenda.id})}"
                  method="get">

                <div class="form-buttons">
                    <button type="submit" class="btn-gestion btn-eliminar">
                        Confirmar
                    </button>

                    <a th:href="@{/prendas}" class="btn-gestion btn-cancelar">
                        Cancelar
                    </a>
                </div>

            </form>

        </section>

    </section>

</section>

</body>
</html>
